body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header {
  height: 100vh;
  background-image: url("./image/bg-coffee.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.user-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.user-box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #6caed5;
}
.user-box h1 {
  color: black;
  font-weight: bold;
  margin: 10px;
}

.user-box p {
  color: black;
}

.scroll-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #fff;
  padding: 10px 10px 10px;
  border-radius: 30px;
}

.scroll-bar span {
  border: 2px solid #fff;
  font-size: 10px;
  border-radius: 30px;
}

.scroll-bar {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.about {
  padding-top: 100px;
  padding-bottom: 50px;
}

.profile-img {
    height: 400px;
}
